DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
SESSION_SECRET="super-duper-s3cret"
CHROME_EXTENSION_URL="https://chrome.google.com/webstore/detail/<extension_name>/<extension_id>"